# Enable required Code Owner review in GitHub branch protection.
/.github/ @taxidriver4ever
/scripts/ci/ @taxidriver4ever
/scripts/export_gitops.py @taxidriver4ever
/deploy/gitops-template/ @taxidriver4ever
